@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}

.container {
    width: 100%;
    height: 400px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.luide-container {
    position: relative;
    width: 100%;
    height: 55px;
   
}

.img {
    display:flex ;
    width: 165px;
    position: absolute;
    left: 50px;
    
}

a {
    color: #0e76a8;
    text-decoration: none;
    font-size: 25px;
    margin-left: 700px;
}

.criador {
    font-size: 20px;
    font-weight: bold;
    color: rgb(187, 108, 108);
}
.cano {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: cano-infinito 1s infinite linear;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0;
    left: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.nuvens {
    width: 550px;
    position: absolute;
    animation: nuvens-animation 20s infinite linear;
    top: 20px;
}

.hud {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px #000;
    z-index: 3;
}

#restartBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 22px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ff4747;
    color: white;
    cursor: pointer;
    display: none;
}

#restartBtn:hover {
    background: #e43d3d;
}

.start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#4facfe, #00f2fe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.start-screen h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.start-btn {
    padding: 15px 30px;
    background: #ffcc00;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
}

.start-btn:active {
    background: #e6b800;
}

.start-btn:hover {
    background: #ffd633;
}


/* HUD */
.music-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    z-index: 5;
}


@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 150px;
    }

    50% {
        bottom: 150px;
    }

    60% {
        bottom: 150px;
    }

    80% {
        bottom: 160px;
    }
    90% {
        bottom: 80px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes cano-infinito {
    from {
        left: 100%;
    }

    to {
        left: -80px;
    }
}

@keyframes nuvens-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}
